<a href="https://colab.research.google.com/github/millermuttu/Notebooks/blob/master/traffic_volume.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from xgboost import XGBRegressor as xgbr # for modelling
from sklearn.pipeline import Pipeline # for making pipleine 
from sklearn.impute import SimpleImputer # for handling missing variables either categorical or numerical
from sklearn.preprocessing import OneHotEncoder # for one hot encoding categorical variables
from sklearn.metrics import mean_absolute_error # for Mean absolute error
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.compose import ColumnTransformer
import os

In [3]:
os.curdir

'.'

In [4]:
train_data = pd.read_csv('Train.csv')
train_data.head()

             date_time is_holiday  ...  weather_description  traffic_volume
0  2012-10-02 09:00:00       None  ...     scattered clouds            5545
1  2012-10-02 10:00:00       None  ...        broken clouds            4516
2  2012-10-02 11:00:00       None  ...      overcast clouds            4767
3  2012-10-02 12:00:00       None  ...      overcast clouds            5026
4  2012-10-02 13:00:00       None  ...        broken clouds            4918

[5 rows x 15 columns]

In [0]:
# date = pd.to_datetime(df['date_time'])
# date_encoded = []
# for i in date:
#     day = i.strftime('%A')
#     time = i.hour
#     day_time = str(day)+str(time)
#     # date_encoded.append([day+time])
#     date_encoded.append([day_time])

# date_encoded = pd.DataFrame(date_encoded)
# df['date_time'] = date_encoded

# df['date_time'] = df['date_time'].astype('category').cat.codes
# df['is_holiday'] = df['is_holiday'].astype('category').cat.codes
# df['weather_type'] = df['weather_type'].astype('category').cat.codes
# df['weather_description'] = df['weather_description'].astype('category').cat.codes

In [0]:
test_data = pd.read_csv('Test.csv')

In [6]:
train_data.columns
train_data.shape

(33750, 15)

In [0]:
y = train_data.traffic_volume                 # seperating the regression value to be predicted

In [0]:
train_data.drop(['traffic_volume'], axis=1, inplace=True)

In [0]:
x_train,x_test,y_train,y_test = train_test_split(train_data,y,train_size=0.85,random_state= 0)

In [10]:
print("shape of x_train",x_train.shape)
print("shape of y_train",y_train.shape)
print("shape of x_test",x_test.shape)
print("shape of y_test",y_test.shape)

shape of x_train (28687, 14)
shape of y_train (28687,)
shape of x_test (5063, 14)
shape of y_test (5063,)

In [0]:
categorical_cols = [cname for cname in x_train.columns if 
                   x_train[cname].nunique()<40 and
                   x_train[cname].dtype == 'O']

In [0]:
numerical_cols = [cname for cname in x_train.columns if
                 x_train[cname].dtype in ['int64', 'float64']]

In [40]:
print(categorical_cols,numerical_cols)

['is_holiday', 'weather_type', 'weather_description'] ['air_pollution_index', 'humidity', 'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point', 'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all']

In [41]:
x_train.weather_description.nunique()

38

In [24]:
x_train.is_holiday.dtype

dtype('O')

In [0]:
my_cols = categorical_cols + numerical_cols
x_train_1 = x_train[my_cols].copy()
x_test_1 = x_test[my_cols].copy()

In [0]:


# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='median')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# handle unknown is set to ignore because sometimes in test set we have variables that were not present in Training set and hence were not encoded while training 
# but if we use these variables while testing we will get error hence to ignore these errors we use this argument

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [0]:
model = xgbr(random_state=42, learning_rate=0.01,n_estimators=1000)

In [0]:
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model)
                     ])

In [47]:
clf.fit(x_train_1, y_train)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[12:50:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='median',
                                                                verbose=0),
                                                  ['air_pollution_index',
                                                   'humidity', 'wind_speed',
                                                   'wind_direction',
                                                   'visibility_in_miles...
                              colsample_bylevel=1, colsample_bynode=1,
                              colsample_bytree=1, gamma=0,
                              importance_type='gain', learning_rate=0.01,
                              max_delta_step=0, max_depth=3, min_child_weight=1,
                              missing=None, n_estimators=1000, n_jobs=1,
                              nthread=None, objective='reg:linear',
                              random_state=42, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, seed=None, silent=None,
                              subsample=1, verbosity=1))],
         verbose=False)

In [49]:
# Preprocessing of validation data, get predictions
preds = clf.predict(x_test_1)

print('MAE:', mean_absolute_error(y_test, preds))

MAE: 1659.1085200014968

In [50]:
y_test

10802    2789
4407     4814
7745     3238
12064     375
22623    1381
         ...
15478    4182
6804     4058
4889     4766
13945    3235
9758     4319
Name: traffic_volume, Length: 5063, dtype: int64

In [51]:
preds

array([2944.2415, 2719.168 , 4542.0947, ..., 3673.7   , 3427.4937,
       3434.32  ], dtype=float32)